{% extends "base.html" %} 
{% block title %}Edit Note{% endblock %} 
{% block content %}
<h1 align="center">Edit Note</h1>
<form method="POST" id="edit-form">
  <textarea name="note" id="updated-note" class="form-control">{{ note.data }}</textarea>
  <input type="hidden" id="note-id" value="{{ note.id }}">
  <br />
  <div align="center">
    <button type="button" class="btn btn-primary edit-button" id="edit-button" data-note-id="{{ note.id }}" data-note-data="{{ note.data | tojson | safe }}" onclick="editNote({{ note.id }}, '{{ note.data | tojson | safe }}')">Edit</button>
  </div>
</form>

<div id="success-message" style="display: none;" align="center">
  Note updated successfully!
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}